* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #74512D;
  --color-secondary: #F8F4E1;
  --color-brown0: #AF8F6F;
  --color-brown1: #543310;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.topnav {
  background-color: var(--color-primary);
  overflow: hidden;
  justify-content: space-around;
  font-family: "Merriweather", serif;
}
.topnav h2 {
  float: left;
  text-align: center;
  padding: 20px 20px;
  font-family: "Chonburi", serif;
  color: var(--color-secondary);
}
.topnav a {
  float: right;
  text-align: center;
  top: auto;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 20px;
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 15px;
}

.home h1 {
  font-family: "Chonburi", serif;
  font-size: 4rem;
}

.hero-content {
  padding: 100px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}
.hero-content h1 {
  font-family: "Chonburi", serif;
  font-size: 4rem;
  margin: 0 0 20px;
}
.hero-content p {
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  margin: 0 0 20px;
}
.hero-content .btn-primary {
  border-radius: 30px;
  padding: 7px 30px;
  font-size: 1.1rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  text-align: center;
  justify-content: center;
}
.hero-content .btn-secondary {
  border-radius: 30px;
  padding: 7px 30px;
  font-size: 1.1rem;
  background-color: var(--color-secondary);
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
}

#hero {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("/images/coffee-main.png") no-repeat center center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.381);
  z-index: 1;
}

.cta-buttons {
  display: flex;
  gap: 30px;
}

.btn:hover {
  opacity: 0.8;
}

#about {
  padding: 100px;
  width: 100%;
}
#about h2 {
  font-family: "Chonburi", serif;
  font-size: 3.5rem;
  margin-bottom: 20px;
}
#about span {
  color: var(--color-primary);
}
#about p {
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  margin: 0 auto 20px;
}
#about .section-link {
  font-family: "Merriweather", serif;
  display: inline-block;
  margin-bottom: 60px;
  padding: 10px 30px;
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  color: var(--color-primary);
  text-decoration: none;
}

.btn-explore:hover {
  background-color: var(--color-brown0);
}

#coffee-knowledge {
  padding: 100px;
}
#coffee-knowledge .btn-explore {
  font-family: "Merriweather", serif;
  margin-top: 20px;
  padding: 10px 30px;
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
#coffee-knowledge h3 {
  font-family: "Chonburi", serif;
  color: var(--color-primary);
  font-size: 2.5rem;
}
#coffee-knowledge p {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
}
#coffee-knowledge .coffee-link {
  font-family: "Merriweather", serif;
  display: inline-block;
  margin-bottom: 60px;
  padding: 10px 30px;
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  color: var(--color-primary);
  text-decoration: none;
}
#coffee-knowledge .content-block-left {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
  position: inherit;
  box-sizing: border-box;
  flex-direction: row-reverse;
}
#coffee-knowledge .content-block-left img {
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}
#coffee-knowledge .content-block-right {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
#coffee-knowledge .content-block-right img {
  position: inherit;
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
#coffee-knowledge .content-block-right p {
  font-family: "Merriweather", serif;
}

#coffee-quiz {
  padding: 100px;
}
#coffee-quiz .quiz-link {
  font-family: "Merriweather", serif;
  display: inline-block;
  margin-bottom: 60px;
  padding: 10px 30px;
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  color: var(--color-primary);
  text-decoration: none;
}
#coffee-quiz h2 {
  font-family: "Chonburi", serif;
  color: var(--color-primary);
  font-size: 3rem;
}
#coffee-quiz p {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
}

.quiz-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}

.quiz-content {
  max-width: 600px;
  width: 100%;
  margin: 20px;
  background-color: var(--color-brown0);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.quiz-content h4 {
  padding: 20px;
  margin-top: 0;
  font-family: "Merriweather", serif;
}
.quiz-content p {
  padding: 20px;
  font-family: "Merriweather", serif;
}

.quiz-page {
  display: none;
}
.quiz-page input {
  padding: 5px;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.quiz-page button {
  border-radius: 20px;
  padding: 5px;
  border-color: var(--color-brown1);
  background-color: var(--color-brown1);
  font-family: "Merriweather", serif;
  color: var(--color-secondary);
  margin-bottom: 20px;
}

.quiz-page:first-of-type {
  display: block;
}/*# sourceMappingURL=style.css.map */